.TaskBar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
    height: 60px;
    width: 100vw;
    z-index: 100;
}

.IconList .Icon{
    float: left;
    text-transform: uppercase;
    font-weight: bold;
}