.TaskBar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
    height: 60px;
    width: 100vw;
    background-color: #afafaf;
}

.IconList .Icon{
    float: left;
}