.TaskBar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
    height: 60px;
    width: 100vw;
    background-color: #000000;
    color: #22b455;
}

.IconList .Icon{
    float: left;
    background-color: #000000;
    text-transform: uppercase;
    font-weight: bold;
}