body {
    margin: 0;
    background-color: #2b2b2b;
    font-family: "Devanagari Sangam MN", sans-serif;
}

.LogoContainer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.inactive {
    position: relative;
    filter: brightness(50%);
    z-index: 5;
}

.active {
    position: relative;
    filter: brightness(100%);
    z-index: 9;
}