.Green .TaskBar {
    color: #008f11;
    background-color: #ffffff;
}

.Green .WindowTop {
    background-color: #008f11;
    color: #FFFFFF;
}

.Green .WindowContainer {
    color: #000000;
    background-color: #FFFFFF;
}

body {
    background-color: #d0d0d0;
}