.Orange .TaskBar {
    color: #F17711;
    background-color: #000000;
}

.Orange  .WindowTop {
    background-color: #f17711;
}

.Orange .WindowContainer {
    color: #FFFFFF;
    background-color: #000000;
}

body {
    background-color: #2b2b2b;
}