.Red .TaskBar {
    color: #FFFFFF;
    background-color: #c70000;
}

.Red .WindowTop {
    background-color: #c70000;
    color: #FFFFFF;
}

.Red .WindowContainer {
    color: #000000;
    background-color: #FFFFFF;
}

body {
    background-color: #2b2b2b;
}