.windowTop {
    border: 1px solid black;
    text-align: center;
    background-color: #fbe3a2;
}

.windowMain {
    height: calc(100% - 10px);
    border: 1px solid black;
    text-align: center;
    background-color: #fbe3a2;
}

.windowContainer {
    height: 100%;
}