.WindowTop {
    border: 1px solid #000000;
    text-align: center;
    animation: ease-in;
    text-transform: uppercase;
    font-weight: bold;
    animation-duration: 1s;
}

.WindowMain {
    text-align: center;
    height: 100%;
    overflow: auto;
}

.WindowContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.ExitButton {
    height: 100%;
    float: left;
    background-color: transparent;
    line-height: 200%;
    font-weight: bold;
    border: 0;
}

.react-draggable {
    position: absolute !important;
}

 .WindowMain::-webkit-scrollbar {
     display: none;
 }

.WindowMain
{
    -ms-overflow-style: none; /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}